{@layout path="heat" theme="blue" /}

{<content}

{@queryOne type="guide:city" field="_doc" fieldValue="{request.qs.id}" as="city"}
<section id="page">
    <header class="page-header mb30">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>
                        Heat Index
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <section id="content" class="mt30 pb30">
        <div class="container">
            <div class="row">
				<div id="output"></div>
            </div>
        </div>
    </section>
    <!--end page content-->

</section>
{/queryOne}

{/content}

