{@layout path="city" theme="blue" /}

{<content}

{@queryOne type="guide:city" field="_doc" fieldValue="{request.qs.id}" as="city"}
<section id="page">
    <header class="page-header mb30">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>
                        Map
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <section id="content" class="mt30 pb30">
        <div class="container">
            <div class="row">
				<script type="text/javascript" defer="defer">
					$.getJSON('http://api.wunderground.com/api/d8ed4bf9d8f1b19b/conditions/q/GA/Brunswick.json')
				</script>
            </div>
        </div>
    </section>
    <!--end page content-->

</section>
{/queryOne}

{/content}

