{@layout path="city" theme="blue" /}

{<content}

<section id="page">
    <header class="page-header mb30">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>
                        Map
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <section id="content" class="mt30 pb30">
        <div class="container">
            <div class="row">
                <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAkda8MlX3SWhTuT6r6rACUvzYgaYJmdfk&amp;q=1131+Chapel+Crossing+Rd,+Brunswick,+GA+31525&amp;attribution_source=Google+Maps+Embed+API&amp;attribution_web_url=https://www.fletc.gov/;attribution_ios_deep_link_id=comgooglemaps://?daddr=Federal+Law+Enforcement+Training+Centers+Brunswick+GA">
                </iframe>
            </div>
        </div>
    </section>
    <!--end page content-->

</section>

{/content}

